<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_SHEM"
        tools:targetApi="31">
        <activity
            android:name=".vista.HistorialSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.DetalleSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.HistorialIngresoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".vista.DetalleActivity"
            android:exported="false" />
        <activity
            android:name=".vista.ConsultaPermisoSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.ConsultaPermisoIngresoActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RegistroPermisoSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RecuperarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".vista.AcercaNosotrosActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RegistroSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RegistroIngresoActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RegistroPermisoActivity"
            android:exported="false" />
        <activity
            android:name=".vista.ConsultaSalidaActivity"
            android:exported="false" />
        <activity
            android:name=".vista.ConsultaIngresoActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".vista.InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.LoginActivity" />
    </application>

</manifest>